@use "styles/variables/colors" as colors;
@use "styles/variables/dimensions" as dimensions;
@use "sass:math";

.header {
  background: colors.$background-menu;
  padding: dimensions.$content-margin;
}

.logo {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 1.5rem;

  display: inline-block;
}

.navigation {
  display: inline-block;

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin-left: dimensions.$content-margin;
  }

  a {
    padding: dimensions.$content-margin;
    margin: 0 math.div(dimensions.$content-margin, 2);
    background: rgba(0, 0, 0, 0.25);
  }
}
